.git
.gitignore
.github
.vscode
.idea

node_modules
**/node_modules

src-tauri/target
server/target
target
target_docker
dev_test
.svelte-kit
dist
build
coverage
*.log

.env
.env.*
.DS_Store
*.tmp
*.swp

dev_test_ressources